body{
font-family:Arial;
background:#f2f2f2;
text-align:center;
margin:0;
}

header{
background:navy;
color:white;
padding:20px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
}

section{
margin-top:40px;
}

button{
padding:10px 20px;
background:green;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:darkgreen;
}

input,textarea{
width:250px;
padding:8px;
}
